*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 100vw;
    min-height: 640px;
    top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    display: inline-block;
    width: 250px;
    height: 35px;
}