:root{
    --bg-color:#333;
    --words-color:white;
    --words-hover:rgb(179, 179, 179);
}

* {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    overflow: hidden;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 8px;
    text-decoration: none;
}

.link {
    color: var(--words-color);
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
    color: var(--words-hover);
}

.search {
    width: 300px;
    height: 30px;
    border: 1px solid white;
}

select {
    background-color: var(--bg-color);
    color: var(--words-color);
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    appearance: none;
}

select:hover {
    text-decoration: underline;
    color: var(--words-hover);
}